<html>
    <head>
        <title>Contact</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand ms-4" href="/"><img src="/public/image/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active fw-bold" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold" href="/add-project">Add Project</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <a class="btn btn-outline-success bg-dark text-white me-5" href="/contact">Contact Me</a>
                </form>
              </div>
            </div>
        </nav>
          <div style="background-color: #c5c5c5;">
            <div style="margin: 0 300px">
                <form class="row g-3 mx-5">
                    <h2 style="text-align: center; margin-top: 25px;">GET IN TOUCH</h2>
                    <div class="col-12">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputName">
                      </div>
                    <div class="mb-1">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="mb-1">
                        <label for="inputNumber" class="form-label">Phone Number</label>
                        <input type="number" class="form-control" id="inputNumber">
                    </div>
                    <div>
                        <label for="inputSubject">Select</label>
                        <select id="inputSubject" class="form-select" aria-label="Default select example">
                            <option hidden></option>
                            <option>FrontEnd</option>
                            <option>BackEnd</option>
                            <option>Fullstack</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="inputMessage" class="form-label">Message</label>
                        <textarea class="form-control" id="inputMessage" rows="3"></textarea>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button onclick="addContact()" class="btn btn-dark rounded-pill" type="button">submit</button>
                    </div>
                </form>
            </div>
          </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="/public/js/contact.js"></script>
</html>