
.btn-dangered {
    background-color: orangered !important;
}

.bg-bod {
    background-color: #e3e7eb;
}

.bg-nav {
    background-color: #f4f3f3;
}

.bg-main {
    background-color: white;
}

.mt-6 {
    margin-top: 60px !important;
}

.mt-main {
    margin-top: 140px;
}

.mt-project {
    margin-top: 80px;
}

.pt-project {
    padding-top: 70px;
}

.pb-project {
    padding-bottom: 50px;
}

.pt-ED {
    padding-top: .35rem !important;
}

.p-form {
    padding: 12px 20px !important;
}

.mb-form {
    margin-bottom: 100px;
}

.pt-tech {
    padding-top: 2px;
}


.sosmed {
    width: 40px;
}

.techImg {
    width: 38px;
}

.text-justify {
    text-align: justify;
}

.bs-bb {
    box-sizing: border-box;
}

.h-content {
    height: 90px;
}

.border-field {
    border: 2px solid rgba(0, 0, 0, 0);
}

.linkHover:hover {
    color: #696969 !important;
}

.linkImgHover:hover img{
    filter: grayscale();
}




.upload .choose {
    background-color: #e4e4e4;
    color: #b2abab;
}

.upload:hover .choose {
    background-color: black !important;
    color: #eaeaea;
}

.create {
    background-color: #e4e4e4;
    color: #b2abab;
    border: none;
}

